<div class= "container text-center">
    <h1>About Page</h1>
    <p>We are Tech Help Spain.  Solving all your technology issues in Spain.
    We can find a solution for your technology issues</p>
</div>